<div class="container">
    <h1 class="text-center mb-4 bg-warning p-4 text-white fw-bolder">Hardware Item</h1>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ItemID</span>
        <input type="text" class="form-control" placeholder="ItemName" aria-label="ItemName" [(ngModel)]="itemObj.itemID" aria-describedby="basic-addon1">
      </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ItemName</span>
        <input type="text" class="form-control" placeholder="ItemName" aria-label="ItemName" [(ngModel)]="itemObj.itemName" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Rental Per Day</span>
        <input type="text" class="form-control" placeholder="ItemName" aria-label="ItemName" [(ngModel)]="itemObj.rentalPerDay" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Fine Per Day</span>
        <input type="text" class="form-control" placeholder="ItemName" aria-label="ItemName" [(ngModel)]="itemObj.finePerDay" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="itemObj.availability">
            <option selected>select</option>
            <option value="Not Available">Not Available</option>
            <option value="Available">Available</option>
          </select>
    </div>

    <button type="button" class="btn btn-success" (click)="addItem()">Add Item</button>
</div>
